// ▬▬▬▬ COLORS ▬▬▬▬
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #343434;
$color-lightgray: #c9c9c9;
$color-blue: #0a455b;
$color-red: #ea4e50;
$color-turquoise: #16ab8e;
$color-orange: #f0b32c;
$color-green: #b4d16d;
// ▬▬▬▬ SCREEN RESOLUTION ▬▬▬▬
$mobileS: 420px;
$mobileL: 580px;
$tablet: 1024px;
$desktopS: 1380px;
$desktopL: 1920px;
// ▬▬▬▬ WIDTH, SIZES, ETC ▬▬▬▬
$borderWidth: 4px;