/* VAR */

$font-title: 'Quicksand',
sans-serif;
$font-bodytext: 'Quicksand',
sans-serif;

/* STYLES to EXTEND */
.font10 {
  font-size: 10px;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}

.title {
  @include myfont($font-title);
  font-weight: 600;
  &--primary {
    font-size: 3em;
    margin-bottom: 0;
    line-height: 1em;
    @media screen and (min-width: $tablet) {
      font-size: 5em;
    }
  }
  &--secondary {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: .5em;
    text-align: center;
    @media screen and (min-width: $tablet) {
      font-size: 4em;
    }
  }
  &--third {
    font-size: 1.6em;
  }
  &--sail {
    font-size: 2em;
    text-transform: uppercase;
  }
  &--article {
    font-size: 1.2em;
    &-last {
      font-size: 1.6em;
    }
  }
  &--option {
    font-size: 3em;
  }
  &--contact {
    font-size: 2em;
    &Section {
      font-size: 2em;
      line-height: 1.2em;
      text-align: center;
      @media screen and (min-width:$mobileL){
        font-size: 3em;
      }
      @media screen and (min-width:$tablet){
      font-size: 3.5em;
      }
    }
  }
  &--contactSection {
    margin-bottom: 1em;
  }
  &--faq {
    font-size: 1.6em;
    margin-bottom: .5em;
  }
  &--footer {
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5em;
  }
}

.bodytext {
  @include myfont($font-bodytext);
  font-weight: 400;
  &--subtitle {
    font-size: 1.6em;
    margin-bottom: 2em;
    @media screen and (min-width: $tablet) {
      font-size: 2.5em;
    }
  }
  &--primary {
    font-size: 1.4em;
    margin-bottom: 1em;
    max-width: $tablet;
    @media screen and (min-width: $mobileL) {
      font-size: 1.6em;
    }
  } // FOOTER
  &--footer {
    font-size: 1.2em;
  } // PAGE ACCUEIL
  &--article {
    font-size: 1.2em;
    &-last {
      font-size: 1.2em;
    }
    @media screen and (min-width:$tablet) {
      font-size: 1.4em;
      &-last {
        font-size: 1.4em;
        line-height: 1.8em;
      }
    }
  }
  &--date {
    font-size: 1em;
    &-last {
      font-size: 1.2em;
    }
  }
  &--lang {
    font-size: 1.6em;
    text-transform: uppercase;
  }
  &--wind {
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
  } // PAGE NAUTIQUE
  &--option {
    font-size: 1.2em;
    @media screen and (min-width: $tablet) {
      font-size: 1.4em;
    }
  } // PAGE CONTACT
  &--quote {
    font-size: 1.6em;
  }
  &--authorName {
    font-weight: 600;
    font-size: 1.6em;
  }
  &--authorJob {
    font-size: 1.2em;
  }
  &--contactInfos {
    font-size: 1.6em;
  }
  &--data {
    font-size: .8em;
  }
  &--msg {
    font-size: 1.4em;
    &-from {
      font-size: 1em;
    }
    &-person {
      font-weight: bold;
    }
    &-occupation {
      font-size: 0.8em;
    }
  }
  &--contactJob {
    @media screen and (min-width:$tablet){
      font-size: 1.4em;
    }
  }
  &--schedule {
    font-size: 1em;
    &-warning {
      font-size: .9em;
      line-height: .5em;
    }
  }
}

.btn {
  @include myfont($font-bodytext);
  font-weight: 600;
  &--article {
    font-size: 1em;
  }
  &--option {
    font-weight: 500;
    font-size: 1.2em;
  }
}

.navbar {
  @include myfont($font-title);
  text-align: center;
  &__link {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    &--sub {
      font-size: 1.6em;
      font-weight: 400;
    }
    @media screen and (min-width:$tablet) {
      font-size: 1em;
      &--sub {
        font-size: .8em;
      }
    }
    @media screen and (min-width:$desktopS) {
      font-size: 1.4em;
      &--sub {
        font-size: 1.2em;
      }
    }
  }
}