  body {
    overflow-x: hidden;
    color: $color-gray;
  }

  .btn {
    background-color: transparent;
    @extend %basic-transition;
    &--primary {
      padding: 5px 30px;
      border: $borderWidth solid $color-black;
      border-radius: 20px;
      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
    &--white {
      border-color: $color-white;
      color: $color-white;
      &:hover {
        background-color: $color-white;
        color: $color-gray;
      }
    }
    &--article {
      border: 0;
      margin: 1em;
    }
    &--option {
      padding: 1em 2em;
    }
    &--round {
      padding: 5px;
      padding-top: 3px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 1.4em;
    }
  }

  .wrapper {
    max-width: $tablet;
  }

  .header {
    position: relative;
    height: 100vh;
    background-color: $color-lightgray;
    &--home {
      background: url('../img/header_accueil.jpg') center/cover;
      background-position: 25% 50%;
    }
    &--shop {
      background: url('../img/header_shop.jpg') center/cover;
    }
    &--contact {
      background: url('../img/header_contact.jpg') center/cover;
    }
    color: $color-white;
    &::after {
      @extend %fxDust;
      bottom: 0;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(rgba($color: $color-blue, $alpha: 0.9), rgba($color: $color-blue, $alpha: 0.0));
    }
  }

  .burger {
    position: fixed;
    z-index: 100;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modalMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-blue;
    @extend %basic-transition;
    z-index: 10;
    display: none;
  }

  .navbar {
    text-shadow: 0 0 3px rgba($color: $color-black, $alpha: 0.8);
    &__item {
      &--btn {
        &-close {
          display: block;
          padding: 1em 0 !important;
          .navbar__link--btn {
            background-color: transparent;
            border: 0;
            color: $color-white;
            text-shadow: 0 0 3px rgba($color: $color-black, $alpha: 0.8);
          }
        }
      }
    }
    &__sublinks {
      display: none;
    }
    &__item--parent:hover .navbar__sublinks {
      display: block;
    }
  }

  .module-lang {
    position: absolute;
    right: 25px;
    top: 90px;
    @include flex($d: row, $w:nowrap, $j-c:center, $a-i:flex-start);
    color: $color-white;
    &__list {
      position: relative;
    }
    &__item {
      display: none;
      &:first-of-type {
        display: block;
      }
    }
    &__btn {
      padding-top: 5px;
      border: 0;
      color: $color-white;
      background-color: transparent;
    }
  }

  @media screen and (min-width: $tablet) {
    .burger {
      display: none;
    }
    .navigation {
      @include flex($d: row, $w:nowrap, $j-c:space-between, $a-i:flex-start);
      position: relative;
      top: 20px;
    }
    .modalMenu {
      width: 72em; // RESET 
      display: block;
      position: relative;
      background-color: transparent;
      top: auto;
      left: auto;
      height: auto;
      transform: translate(0, 0);
      @media screen and (min-width: $desktopS) {
        width: 100em;
      }
    }
    .logo {
      position: relative;
      top: auto;
      left: 50px;
      transform: translate(0, 0);
      padding: 1em;
    }
    .navbar {
      @include flex($d: row, $w:nowrap, $j-c:flex-start, $a-i:stretch);
      position: relative;
      top: 10px;
      &__item {
        padding: 1em 2em;
        &--first {
          padding-left: 0;
        }
      }
      &__sublinks {
        text-align: left;
        position: relative;
        top: .5em;
        border: 1px solid $color-white;
        border-top: 0;
        @media screen and (min-width: $desktopS) {
          // top: 0.7em;
        }
      }
      &__item--lvl2 {
        padding: .2em 0; // augmente la distance entre les ELs
        &:first-of-type {
          padding-top: 1em;
        }
        &:last-of-type {
          padding-bottom: 1em;
        }
      }
      &__link {
        &--parent {
          margin-right: 1.5em;
        }
        &--sub {
          position: relative;
          left: 1.2em;
          padding: .2em 0; // augmente la surface de clic du lien
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 3em;
        right: 0;
        height: $borderWidth;
        width: 100%;
        background-color: $color-white;
        box-shadow: 0 0 5px rgba($color: $color-black, $alpha: 0.4);
        @media screen and (min-width: $desktopS) {
          top: 3.5em;
        }
      }
    }
    .module-lang {
      top: 5px;
      right: 5px;
    }
    /* desktop : menu inactif */
    .modalMenu--inactive {
      width: 10em;
      position: fixed;
      right: 0;
      .navbar {
        &__item {
          display: none;
          &--btn {
            display: block;
            padding-left: 0;
            padding-right: 0;
          }
        }
        &__link--btn {
          background-color: transparent;
          color: $color-white;
          border: 0;
          text-shadow: 0 0 3px rgba($color: $color-black, $alpha: 0.6);
        }
      }
    }
  }

  .module-wind__external-link {
    font-family: $font-title;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    bottom: 100px;
    right: -65px;
    padding: 10px 20px;
    transform: rotate(-90deg);
    color: $color-gray;
    background-color: $color-white;
    box-shadow: 0 0 3px rgba($color: $color-black, $alpha: 0.4);
    @media screen and (min-width: $mobileL) {
      display: none;
    }
    i {
      margin-left: 5px;
    }
  }

  .module-wind {
    @media screen and (max-width: $mobileL) {
      display: none;
    }
    color: $color-gray;
    position: fixed;
    z-index: 10;
    right: -550px;
    bottom: 10%;
    background-color: $color-white;
    transition: all .8s cubic-bezier(0.680,
    -0.330,
    0.245,
    1.175);
    ;
    cursor: pointer;
    &.active {
      right: -30px;
    }
    @extend %shadow;
    &__visible-block {
      position: relative; // height: 100%;
    }
    &__rot-block {
      position: absolute;
      transform: rotate(-90deg) translate(-38%, -145px);
      width: 330px;
      padding: 10px;
      @include flex($d: row, $w:nowrap, $j-c:space-between, $a-i:center);
    }
    &__btn {
      position: relative;
      left: 10px;
      top: -20px;
      padding: 0px 10px 5px;
      border: 0;
      background-color: $color-black;
      color: $color-white;
      width: 30px;
      height: 30px;
      transform: rotate(90deg);
    }
    &__content {
      @include flex($d: row, $w:nowrap, $j-c:center, $a-i:center);
      margin: 30px 40px;
    }
    iframe {
      width: 500px;
      height: 270px;
      margin-left: 10px;
    }
  } // Indication de navigation sur le header
  .indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
  } // SECTIONS
  .section {
    padding: $margin-mobile 3em;
    @media screen and (min-width: $mobileL) {
      padding: $margin-tablet;
    }
  } // FOOTER
  .footer {
    background-color: $color-white;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .05);
    @include flex($d: column, $w:nowrap, $j-c:flex-start, $a-i:center);
    padding: 3em;
    &__first-part {
      @media screen and (min-width: $mobileS) {
        width: 100%;
        @include flex($d: row, $w:nowrap, $j-c:space-between, $a-i:stretch);
        margin-bottom: 2em;
      }
    }
    &__second-part {
      @media screen and (min-width: $mobileL) {
        width: 100%;
        @include flex($d: row, $w:nowrap, $j-c:space-between, $a-i:center);
        border-top: 1px solid $color-gray;
        padding-top: 1em;
      }
    }
  }

  .social {
    @include flex($d: column, $w:nowrap, $j-c:flex-start, $a-i:center);
    &__title {
      text-align: left;
    }
    &__links {
      @include flex($d: row, $w:nowrap, $j-c:flex-start, $a-i:stretch);
    }
    &__link {
      width: 3em;
      height: 3em;
      background-color: $color-gray;
      color: $color-white;
      @include flex($d: row, $w:nowrap, $j-c:center, $a-i:center);
      border-radius: 50%;
      margin: .3em;
      &--fa {
        background-color: $color-blue;
      }
      &--yt {
        background-color: $color-red;
      }
      &--rss {
        background-color: $color-orange;
      }
    }
    border-bottom: 1px solid $color-gray;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    @media screen and (min-width:$mobileS) {
      border: 0;
    }
  }

  .intro {
    text-align: center;
    &--accueil {
      background: $color-white;
    }
    &__title {
      margin-bottom: 1em;
    }
    &__bodytext {
      max-width: 40em;
      margin: 0 auto;
      p {
        margin-bottom: 1em;
      }
    }
    @media screen and (min-width:$tablet) {
      text-align: left;
      &__bodytext {
        max-width: 80%;
        margin: 0;
        p {
          margin-bottom: 1em;
        }
      }
    }
  }

  .parallax {
    &--home {
      min-height: 200px;
      height: 30vw;
      overflow: hidden;
      position: relative;
      &__img {
        height: 100vh;
        min-width: 100vw;
        position: fixed;
        top: 0;
        z-index: -1;
        @media screen and (min-width: $tablet) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .newsletter {
    @include flex($d: column, $w:nowrap, $j-c:flex-start, $a-i:center);
    max-width: 300px;
    @media screen and (min-width: $mobileS) {
      align-items: flex-end;
      text-align: right;
    }
    &__title {
      margin-bottom: 0;
      @media screen and (min-width: $mobileS) {
        text-align: right;
      }
    }
    &__bodytext {
      display: none;
      @media screen and (min-width: $mobileL) {
        display: block;
      }
    }
    &__form {
      position: relative;
      padding-top: 1em;
      form {
        @include flex($d: row, $w:nowrap, $j-c:flex-start, $a-i:center);
      }
      label {
        display: none;
      }
      input[type="email"] {
        max-width: 100%;
        width: 200px;
        padding: .5em 1em;
        border: $borderWidth solid $color-gray;
        &::placeholder {
          font-family: $font-bodytext;
          color: rgba($color: $color-black, $alpha: 0.7);
        }
      }
      button[type="submit"] {
        font-size: 2em;
        position: absolute;
        right: 0;
        background-color: transparent;
        border: 0;
      }
    }
  }

  .disclaimer {
    @include flex($d: row, $w:nowrap, $j-c:center, $a-i:stretch);
    @media screen and (min-width: $mobileL) {
      order: 1;
    }
    &__list {
      @include flex($d: row, $w:nowrap, $j-c:flex-start, $a-i:stretch);
      padding-top: 4em;
      @media screen and (min-width: $mobileS) {
        padding: 0;
      }
      @media screen and (min-width: $tablet) {
        margin: 0;
      }
    }
    &__link {
      font-size: .9em;
    }
    &__separator {
      padding: 0 0.5em;
    }
    &__copyrights {
      @include flex($d: row, $w:nowrap, $j-c:center, $a-i:flex-end);
      padding: 1em 0 2em;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      @media screen and (min-width: $mobileL) {
        border: 0;
        padding: 0;
      }
      &-year {
        position: relative;
        top: 0.3em;
        font-size: 1.4em;
      }
    }
    &__logo {
      height: 20px;
      padding-right: 1em;
    }
    &__credits {
      @include flex($d: column, $w:nowrap, $j-c:center, $a-i:center);
      font-size: 1em;
      text-align: center;
      padding-top: 1em;
      @media screen and (min-width: $mobileL) {
        order: 1;
        padding: 0;
        text-align: right;
      }
    }
  }