.shop-infos {
  @include flex($d: column, $w:nowrap, $j-c:flex-start, $a-i:stretch);
  padding-top: 2em;
  &__logo {
    height: 14em;
    margin-bottom: 2em;
  }
  &__contacts {
    @include flex($d: column, $w:nowrap, $j-c:space-between, $a-i:stretch);
  }
  &__list {
    margin-top: 1em;
    margin-bottom: 0;
  }
  &__el {
    margin-bottom: 0;
    i {
      width: 1.5em;
      text-align: center;
      margin-right: .5em;
    }
  }
  @media screen and (min-width:$tablet) {
    @include flex($d: row, $w:nowrap, $j-c:flex-start, $a-i:stretch);
    text-align: left;
    &__logo {
      height: 15em;
      margin-right: 3em;
      margin-bottom: 0;
    }
  }
}

.cta {
  position: relative;
  background-color: $color-red;
  color: $color-white;
  text-align: center;
  &__title {
    margin-bottom: 1.2em;
  }
  &__bodytext-container {
    max-width: 50em;
    margin: 0 auto 3em;
    @extend %mBot;
    p {
      margin-bottom: 1em;
    }
  }
  &--icon {
    margin-top: 7em;
    &__title {
      padding-top: 1em;
    }
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      height: 120px;
      width: 120px;
    }
  }
  &--gift {
    &::before {
      top: -7.5em;
      background: url('../img/icon_gift.png') center/cover;
    }
  }
  &--booking {
    background-color: $color-blue;
  }
  &--shop {
    z-index: 0;
    &::before {
      background: url('../img/icon-shop.png') center/cover;
      top: -10em;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .1;
      background: url('../img/header_shop.jpg') center/cover;
      z-index: -1;
    }
  }
}

@media screen and (min-width:$tablet) {
  .cta {
    &__bodytext-container {
      margin-bottom: 5em;
    }
    &--icon {
      &::before {
        height: 150px;
        width: 150px;
      }
    }
    &--gift {
      &::before {
        top: -10em;
      }
    }
    &--shop {
      &::before {
        top: -12.5em;
      }
    }
  }
}