.shop-infos {
  @include flex($d: column, $w:nowrap, $j-c:flex-start, $a-i:stretch);
  padding-top: 2em;
  &__logo {
    height: 14em;
    margin-bottom: 2em;
  }
  &__contacts {
    @include flex($d: column, $w:nowrap, $j-c:space-between, $a-i:stretch);
  }
  &__list {
    margin-top: 1em;
    margin-bottom: 0;
  }
  &__el {
    margin-bottom: 0;
    i {
      width: 1.5em;
      text-align: center;
      margin-right: .5em;
    }
  }
  @media screen and (min-width:$tablet) {
    @include flex($d: row, $w:nowrap, $j-c:flex-start, $a-i:stretch);
    text-align: left;
    &__logo {
      height: 15em;
      margin-right: 3em;
      margin-bottom: 0;
    }
  }
}

